<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css"/>
   <title>
      This is a boring title
   </title>
</head>
<body class="row">
<center>
   <h1>
      Hello Worlds!!!
   </h1>
   <h3>
      Hi {{ nama }}
   </h3>
   <p>
      {{ request }}
   </p>
</center>
</body>
</html>